.header {
    width: 100%;
    height: 109px;
    background-image: url(https://cdn.discordapp.com/attachments/740680780740821105/740972550468927488/unknown.png);
    background-size: cover;
    border: 1px solid white;
    padding: 0px;
}