# emacs backup files (ezist)
*~
\#*\#

# config
/cfg/config.inc.php

# oooo we're so fancy
# we make our OS put useless files everywhere
# ooooooooo
.DS_Store
._*
desktop.ini
thumbs.db

# Composer files
/vendor/
composer.phar
composer.lock

# user profile pictures and songs
/dynamic/pfp/*
!/dynamic/pfp/default.jpg
/dynamic/song/*
!/dynamic/song/default.mp3